body{
background: linear-gradient(-45deg, #35577D, #6fa8dc);
  margin: 0;
  padding: 25px;
}
h1 {
  color: #fff;
  font-size: 5em;
  width: 100%;
}

#quote p{
  color: #2b2a2a;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;  
	
}
#jeffsum{
  font-family: Arial, Helvetica, sans-serif;
  color: #dadada; 	
}

ul li{
	color: #ffb7b7;  
}

a {
    color: floralwhite;
    text-decoration: underline;
    
}
   .col{
     
        position: fluid;
        
    }
#contact a{
color: #FFF;
font-size: 3.5em;
width: 100%;
}